@import "config.scss";
@import "utility.scss";

#main-header {
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding: 1.5rem;
    }
    nav {
      display: flex;
      justify-content: flex-end;

      a {
        display: flex;
        padding: 0.75rem;
        transition: all ease-in-out 0.5s;
        border-radius: 5px;

        &:hover {
          background-color: $primary-color;
          color: $light-color;
        }
      }
    }
  }
}
// Section: showcase
#home {
  &-a {
    height: 100vh;
    background: url(/dist/images/background.jpg) center center/cover;
    color: $light-color;

    // Pharse 1
    .form-group {
      display: flex;
      justify-content: space-around;
      width: 100%;

      input {
        // display: block;
        width: 5rem;
        padding: 0.5rem;
        margin: 0.5rem auto;
        border-radius: 5px;
      }
    }

    // Pharse 2
    // }
  }

  &-b {
    position: relative;
    height: 100vh;
    background: url(/dist/images/background.jpg) center center/cover;
    color: $light-color;

    #back-btn {
      position: absolute;
      top: 80vh;
      left: 0;
    }

    .tomato {
      opacity: 0.4;
    }

    .clear-icon {
      opacity: 1 !important;
      width: 2rem;
    }
  }
  &-c {
    height: 100vh;
    background: url(/dist/images/background.jpg) center center/cover;
    color: $light-color;
  }
}

#main-footer {
  background-color: $secondary-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.icon {
  border-bottom: 1px solid $primary-color;
}

.heading-l {
  font-size: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
}
a {
  padding: 0.75rem;
}

.heading-m {
  font-size: 1.5rem;
}
